{%- macro format_address(value) -%}
    {{ "0x{:09_X}".format(value).replace("_", " ") }}
{%- endmacro -%} {# format_address #}

{%- macro render_header(node, level) -%}
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% {{ node.name }}
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
\pagebreak
\Ts{{ "Sub" * level }}Section { {{- node.name -}} }
{%- endmacro -%} {# render_header #}

{%- macro render_generated_file(node) -%}
\textbf{Base Address:} {{ format_address(node.abs_start_addr) }}
\newline
\textbf{End Address:} {{ format_address(node.abs_end_addr) }}
\vspace{4mm}
{{ node.generated_file.read_text() }}
{%- endmacro -%} {# render_generated_file #}

{%- macro render_table(node, level) -%}
\textbf{Base Address:} {{ format_address(node.start_addr) }}
\newline
\textbf{End Address:} {{ format_address(node.end_addr) }}
\vspace{4mm}

\begin{TropicRatioTable3Col}
{0.6}                                         {0.3}                               {0.1}
{Memory region                                & Address offset range              & Size}
        {% for subnode in node.regions %}
    \multirow {2} {*} {\hyperref[{{"sub" * (level + 1)}}sec:{{ subnode.name }}] { {{- subnode.name -}} }} & {{ format_address(subnode.start_addr) }} & \multirow {2} {*} { {{- subnode.size -}} } \\
                                                    & {{ format_address(subnode.end_addr) }} &    \Ttlb%
        {% endfor %} {# subnode in node.regions #}
\end{TropicRatioTable3Col}
{%- endmacro -%} {# render_table #}

{%- macro render_node(node, level=0) -%}
    {%- if node.regions or node.generated_file -%}
{{ render_header(node, level) }}

        {%- if node.regions -%}
{{ render_table(node, level) }}

            {% for subnode in node.regions -%}
{{ render_node(subnode, level + 1) }}
            {%- endfor -%} {# subnode in node.regions #}

        {%- else -%} {# node.generated_file #}
{{ render_generated_file(node) }}

        {%- endif -%} {# node.regions #}
    {%- endif -%} {# node.regions or node.generated_file #}
{%- endmacro -%} {# render_node #}
{#- ----------------- The rendering starts here ----------------- -#}
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
% Autogenerated by {{ tool }} {{ version }}
% Input: {{ header.filename.name }}
% Date: {{ date.strftime("%I:%M%p on %B %d, %Y") }}
% Hash: {{ header.hash }}
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
{{ render_node(root_node) }}