{%- macro format_address(value) -%}
    {{ "0x{:09_X}".format(value).replace("_", " ") }}
{%- endmacro %} {# format_address #}

{%- macro repr_header(node, level) -%}
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% {{ node.name }}
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
\pagebreak
\Ts{{ "Sub" * level }}Section { {{- node.name -}} }
{%- endmacro %} {# repr_header #}

{%- macro repr_generated_file(node) -%}
\textbf{Base Address:} {{ format_address(node.abs_start_addr) }}
\newline
\textbf{End Address:} {{ format_address(node.abs_end_addr) }}
\vspace{4mm}
{{ node.generated_file.read_text() }}
{%- endmacro %} {# repr_generated_file #}

{%- macro repr_table(node, level) -%}
\textbf{Base Address:} {{ format_address(node.start_addr) }}
\newline
\textbf{End Address:} {{ format_address(node.end_addr) }}
\vspace{4mm}

\begin{TropicRatioTable3Col}
{0.6}                                         {0.3}                               {0.1}
{Memory region                                & Address offset range              & Size}
        {% for subnode in node.regions %}
    \multirow {2} {*} {\hyperref[{{"sub" * (level + 1)}}sec:{{ subnode.name }}] { {{- subnode.name -}} }} & {{ format_address(subnode.start_addr) }} & \multirow {2} {*} { {{- subnode.size -}} } \\
                                                    & {{ format_address(subnode.end_addr) }} &    \Ttlb%
        {% endfor %} {# subnode in node.regions #}
\end{TropicRatioTable3Col}
{%- endmacro %} {# repr_table #}
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
% Autogenerated by {{ tool }} {{ version }}
% Input: {{ header.filename.name }}
% Date: {{ date.strftime("%I:%M%p on %B %d, %Y") }}
% Hash: {{ header.hash }}
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
{{ repr_header(root_node, level=0) }}

{{ repr_table(root_node, level=0) }}

{% for subsection in root_node.regions -%}

    {%- if subsection.generated_file or subsection.regions -%}
{{ repr_header(subsection, level=1) }}

        {%- if subsection.generated_file -%}
{{ repr_generated_file(subsection) }}

        {%- else -%} {# subsection.regions #}
{{ repr_table(subsection, level=1) }}

            {% for subsubsection in subsection.regions %}

                {%- if subsubsection.generated_file -%}
{{ repr_header(subsubsection, level=2) }}
{{ repr_generated_file(subsubsection) }}
                {% endif -%} {# subsubsection.generated_file #}

            {%- endfor -%} {# subsubsection in subsection.regions #}
        {%- endif -%} {# if subsection.generated_file #}
    {% endif -%} {# subsection.generated_file or subsection.regions #}
{%- endfor %} {# subsection in root_node.regions #}