global {
    base_address = {{ "0x%X" % top.base_address }}
}
// rdl input parameters
input rdl {
    resolve_reg_category    = true      // Try to determine register category from rdl if unspecified
    lint_rdl                = false     // Check rdl file
}

// Latex output parameters
output tslatexdoc {
    add_latex_preamble      = false     // Add LaTex preamble (standalone document)
    add_latex_reg_summary   = true      // Add register summary table on top
    add_landscape_tables    = true      // Add register table in landscape mode
    add_absolute_addresses  = true      // Sum up absolute addresses from parameters to offsets
    add_hyperlinks          = true      // Link register tables to field tables
}